<div ng-controller="ProgrammeController">
    <!--<div class="list-group col-sm-2 hideInPrint">
        <a ng-repeat="option in model.ndpProgram.options" class="list-group-item cursor-pointer" ng-class="{true: 'active'} [option.id === model.selectedNdpProgram.id]" ng-click="setNdpProgram(option)">
            {{option.displayName}}
        </a>
    </div>-->

    <div class="small-vertical-spacing">
        <div class="col-sm-12">
            <ui-select ng-model="model.selectedNdpProgram"
                       theme="select2"
                       style="width:100%;">
                <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.ndpProgram && model.ndpProgram.options && model.ndpProgram.options.length > 0 ? 'please_select_program' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                <ui-select-choices repeat="option in model.ndpProgram.options | filter: $select.search | limitTo:maxOptionSize | orderBy: ['code']">
                    <span ng-bind-html="option.displayName | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <div class="col-sm-12" ng-if="model.selectedNdpProgram">
        <div equal-height-nav-tabs ng-if="model.selectedNdpProgram">
            <tabset justified="true">
                <tab heading="{{horizontalMenu.title| translate}}" class="horizontal-menu font-16" ng-repeat="horizontalMenu in model.horizontalMenus" active="horizontalMenu.active" ng-click="resetView(horizontalMenu)">
                    <div ng-include="horizontalMenu.view"></div>
                </tab>
            </tabset>
        </div>
    </div>
    <div class="small-vertical-spacing col-sm-12" ng-if="!model.selectedNdpProgram && model.ndpObjectives.length > 0 && model.ndpProgrammes.length > 0">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th colspan="2" class="center">
                        {{'ndp3_program_alignment' | translate}}
                    </th>
                </tr>
                <tr>
                    <th>
                        {{'objectives' | translate}}
                    </th>
                    <th>
                        {{'programmes' | translate}}
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="objective in model.ndpObjectives" ng-init="objectivePrograms = (model.ndpProgrammes | filter: {ndpObjective: objective.code})">
                <tr ng-repeat="objectiveProgram in objectivePrograms">
                    <td class="vertical-center" rowspan="{{objectivePrograms.length}}" ng-if="$index===0">
                        {{objective.displayName}}
                    </td>
                    <td class="vertical-center">
                        {{objectiveProgram.displayName}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>