<span id="showLeftBar" class="hideInPrint">
    <a href="javascript:dhis2.leftBar.showAnimated()" title="$i18n.getString('show_menu' )"><i class="fa fa-arrow-right leftBarIcon"></i></a>
</span>

<div id="leftBar">

    <div ng-if="!model.metaDataCached" class="small-horizontal-spacing">
        <img src="../images/ajax-loader-bar.gif" alt="{{'in_progress'| translate}}"/><br>
        {{'loading_metadata'| translate}}
    </div>

    <div ng-show="model.metaDataCached">
        <div ng-include="'views/left-bar-icons.html'"></div>
        <div ng-include="'views/left-bar-menu.html'"></div>
    </div>

</div>


<div class="page" id="mainPage">
    <div ng-if="!model.metaDataCached" class="font-16">
        <img src="../images/ajax-loader-bar.gif" alt="{{'in_progress'| translate}}"/><br>
        {{'loading_metadata'| translate}}
    </div>

    <div ng-show="model.metaDataCached">

        <form name="outerForm" novalidate>
            <div ng-if="model.selectedMenu" ng-switch="model.selectedMenu.domain">
                <div ng-include="model.selectedMenu.view"></div>
            </div>
            <div ng-if="!model.selectedMenu">
                <carousel carousel-controls interval="3000" no-wrap="false">
                    <slide ng-repeat="slide in model.slides">
                        <div class="row col-sm-12">
                            <img ng-src="{{slide.path}}" alt="{{slide.path}}">
                        </div>
                    </slide>
                    <!--<slide ng-repeat="slide in model.slides">
                        <div class="col-sm-12 slide-header">
                            {{slide.heading}}
                        </div>
                        <div ng-switch="slide.type">
                            <div class="col-sm-12 slide-body" ng-switch-when="TEXT">
                                {{slide.description}}
                            </div>
                            <div class="col-sm-12 slide-body" ng-switch-when="TABLE">
                                <table class="table table-bordered table-striped table-scroll">
                                    <thead>
                                        <tr>
                                            <th class="sticky"></th>
                                            <th class="sticky"></th>
                                            <th class="sticky"></th>
                                            <th class="center sticky" colspan="{{period.colSpan}}" ng-repeat="period in model.reportPeriods" ng-if="period.hasData">
                                                {{period.displayName}}
                                            </th>
                                            <th rowspan="2" class="vertical-center sticky">
                                                {{'vision_2040' | translate}}
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="sticky">{{model.selectedMenu.ndp}} {{'objectives'| translate}}</th>
                                            <th class="sticky">{{'kras'| translate}}</th>
                                            <th class="sticky">{{'indicators'| translate}}</th>
                                            <th class="center sticky" ng-repeat="header in model.dataHeaders">
                                                {{model.metaData.items[header.dimensionId].name}}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody ng-include="'components/report-data/result-body.html'"></tbody>
                                </table>
                            </div>
                            <div class="slide-body" ng-switch-when="IMG" style="{{slide.style}}">
                                <img ng-src="{{slide.path}}" alt="{{slide.path}}">
                            </div>
                        </div>
                    </slide>-->
                </carousel>
            </div>
        </form>

    </div>

</div>