<div class="menu-title">
    <h4>{{'menu' | translate}}</h4>
</div>

<div class="vertical-spacing category-menu">
    <div data-stop-propagation="true">
        <script type="text/ng-template" id="treeMenu.html">
            <span class="tree-menu-button" ng-click="expandCollapse(menuItem)" ng-show="menuItem.show && menuItem.children.length > 0"><i class="fa fa-minus-square-o"></i></span>
            <span class="tree-menu-button" ng-click="expandCollapse(menuItem)" ng-show="(!menuItem.show && menuItem.children.length > 0) || (!menuItem.show && menuItem.hasChildren)"><i class="fa fa-plus-square-o"></i></span>
            <span class="tree-menu-button" ng-click="setSelectedMenu(menuItem)" ng-class="{'selected-menu' : menuItem.id === model.selectedMenu.id, 'bold': menuItem.bold}">{{menuItem.displayName}}</span>
            <ul class="tree" id="tree" ng-show="menuItem.show">
                <li ng-repeat="menuItem in menuItem.children | orderBy:'order'" ng-include="'treeMenu.html'"></li>
            </ul>
        </script>
        <ul class="tree" id="tree">
            <li ng-repeat="menuItem in model.menuItems | orderBy:'order'" ng-include="'treeMenu.html'"></li>
        </ul>
    </div>
    
    <br>
    <table class="table dhis2-table-hover table-bordered menu-vertical-spacing">        
        <tr ng-class="{'selected-menu' : 'DICTIONARY' === model.selectedMenu.id, 'bold': menuItem.bold}">
            <td ng-click="setBottomMenu('DICTIONARY')">{{'indicator_dictionary' | translate}}</td>
        </tr>
        <tr ng-class="{'selected-menu' : 'DOCUMENT' === model.selectedMenu.id, 'bold': menuItem.bold}">
            <td ng-click="setBottomMenu('DOCUMENT')">{{'document_library' | translate}}</td>
        </tr>
        <tr ng-class="{'selected-menu' : 'FAQ' === model.selectedMenu.id, 'bold': menuItem.bold}">
            <td ng-click="setBottomMenu('FAQ')">{{'faqs' | translate}}</td>
        </tr>
    </table>
</div>


<!--<div class="vertical-spacing category-menu">
    <table class="table table-striped dhis2-table-hover table-bordered">
        <tr>
            <td ng-click="model.selectedMenu = 'NDP'">{{'ndp_program_structure' | translate}}</td>
        </tr>
        <tr>
            <td ng-click="model.selectedMenu = 'DICTIONARY'">{{'indicator_dictionary' | translate}}</td>
        </tr>
        <tr>
            <td ng-click="model.selectedMenu = 'DOCUMENT'">{{'document_library' | translate}}</td>
        </tr>
        <tr>
            <td ng-click="goToMenu('dhis-web-dashboard/index.html')">{{'dashboard' | translate}}</td>
        </tr>
        <tr>
            <td ng-click="goToMenu('dhis-web-pivot/index.html')">{{'pivot' | translate}}</td>
        </tr>
        <tr>
            <td ng-click="goToMenu('dhis-web-data-visualizer/index.html')">{{'charts' | translate}}</td>
        </tr>
        <tr>
            <td ng-click="goToMenu('dhis-web-maps/index.html')">{{'gis' | translate}}</td>
        </tr>
    </table>
</div>-->
