<div class="small-vertical-spacing hideInPrint">
    <div class="selection-group">
        <div class="col-sm-7 green-info-area">
            <div class="row small-vertical-spacing">
                <div class="col-sm-2">
                    {{'objective_goal'| translate}}
                </div>
                <div class="col-sm-10">
                    <ui-select ng-model="model.selectedObjective"
                               theme="select2"
                               style="width:100%;">
                        <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.objectives && model.objectives.length > 0 ? 'all' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                        <ui-select-choices repeat="degs in model.objectives | filter: $select.search | limitTo:maxOptionSize">
                            <span ng-bind-html="degs.displayName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row small-vertical-spacing">
                <div class="col-sm-2">
                    {{'kra'| translate}}
                </div>
                <div class="col-sm-10">
                    <ui-select ng-model="model.selectedKra"
                               theme="select2"
                               style="width:100%;">
                        <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.selectedObjective && model.selectedObjective.dataElementGroups && model.selectedObjective.dataElementGroups.length > 0 ? 'all' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                        <ui-select-choices repeat="deg in model.selectedObjective.dataElementGroups | filter: $select.search | limitTo:maxOptionSize | orderBy: ['displayName']">
                            <span ng-bind-html="deg.displayName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row vertical-spacing pull-right">
                <div class="col-sm-12">
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="getAnalyticsData()">
                        {{'display_report'| translate}}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-5 blue-info-area add-small-left-padding">
            <div ng-include="'components/report-filter/report-filters.html'"></div>
        </div>
    </div>
</div>
<div class="row" ng-if="model.reportReady">
    <div class="col-sm-12" ng-if="model.dataExists">
        <span class=" hideInPrint">
            <span class="dropdown">
                <label class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-attr-title="{{'download_as'| translate}}"><i class="fa fa-download"></i></label>
                <ul class="dropdown-menu">
                    <li><h6 class="dropdown-header">{{'download_as'| translate}}</h6></li>
                    <li class="divider"></li>
                    <li><a href ng-click="exportData()">{{'csv'| translate}}</a></li>
                    <li><a href onclick="javascript:window.print()">{{'pdf'| translate}}</a></li>
                </ul>
            </span>
        </span>
        <div id="exportTable">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="100%" class="center">
                            {{'annual_performance' | translate}}
                        </th>
                    </tr>
                    <tr>
                        <th>{{model.selectedMenu.ndp}} {{'objectives'| translate}}</th>
                        <th>{{'kras'| translate}}</th>
                        <th>{{'indicators'| translate}}</th>
                        <th class="center" ng-repeat="period in model.reportPeriods">
                            {{period.displayName}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in model.performanceData">
                        <td class="vertical-center" ng-repeat="col in row" rowspan="{{col.span}}">
                            {{col.val}}
                            <span ng-if="col.info" ng-click="getIndicatorDictionary(col.info)">
                                <i class="fa fa-info-circle info-icon cursor-pointer" aria-hidden="true" title="{{'indicator_dictionary'| translate}}"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-12" ng-if="!model.dataExists">
        <div class="alert alert-warning">
            {{'no_data_exists'| translate}}
        </div>
    </div>
</div>