<h2>
    <span ng-show="model.selectedDictionary">{{model.selectedDictionary.name}} </span>{{'list'| translate}}
</h2>
<div ng-if="model.selectedDictionary">

    <span class="long-horizontal-spacing hideInPrint">                        
        <span ng-if="model[model.selectedDictionary.id].length > 0">
            <span class="dropdown">
                <label class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-attr-title="{{'download_as'| translate}}"><i class="fa fa-download"></i></label>
                <ul class="dropdown-menu">
                    <li><h6 class="dropdown-header">{{'download_as'| translate}}</h6></li>
                    <li class="divider"></li>
                    <li><a href filename="{{model.selectedDictionary.name}}-dictionary.csv" ng-click="exportData()">{{'csv'| translate}}</a></li>
                    <li><a href filename="{{model.selectedDictionary.name}}-dictionary.pdf" onclick="javascript:window.print()">{{'pdf'| translate}}</a></li>                                
                </ul>
            </span>
            <label class="btn btn-default horizontal-spacing" ng-click="showHideColumns()" ng-attr-title="{{'show_hide_columns'| translate}}">
                <i class="fa fa-table label-font"></i>
            </label>
        </span>
    </span>
    <div id="exportTable">
        <table class="listTable dhis2-table-striped-border dhis2-table-hover">                
            <thead>
                <tr>
                    <th colspan="100%" class="hideInPrint">
                        <input type="text" ng-model="model.filterText" class="form-control" placeholder="{{'filter_by_name_code'| translate}}">
                    </th>
                </tr>
                <tr>
                    <th ng-click="sortItems(header)" ng-class="header.colSize" ng-repeat="header in model.dictionaryHeaders[model.selectedDictionary.id]| filter: {show: true}">
                        {{header.name| translate}}                            
                        <span class="fa-stack hideInPrint">
                            <span ng-class="{true: 'alert - danger'} [sortHeader.id === header.id && !reverse]"><i class="fa fa-sort-asc fa-stack-1x"></i></span>
                            <span ng-class="{true: 'alert - danger'} [sortHeader.id === header.id && reverse]"><i class="fa fa-sort-desc fa-stack-1x"></i></span>
                        </span>
                    </th>
                </tr>                        
            </thead>
            <tbody>
                <tr ng-repeat="item in model[model.selectedDictionary.id]| orderBy:sortHeader.id:reverse | multiColumnFilter:model.filterText" ng-click="showDetails(item)">
                    <td ng-repeat="header in model.dictionaryHeaders[model.selectedDictionary.id]| filter: {show: true}">
                        {{item[header.id]}}
                    </td>
                </tr>
            </tbody>                
        </table>
    </div>

</div>