<div class="small-vertical-spacing hideInPrint">
    <div class="selection-group">
        <div class="col-sm-7 green-info-area">
            <div class="row small-vertical-spacing">
                <div class="col-sm-4">
                    {{'ndp'| translate}}
                </div>
                <div class="col-sm-8">
                    <ui-select ng-model="model.selectedNDP" 
                               theme="select2"                                 
                               style="width:100%;">
                        <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.ndp && model.ndp.options && model.ndp.options.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                        <ui-select-choices repeat="opt in model.ndp.options | filter: $select.search | limitTo:maxOptionSize | orderBy: 'order' ">
                            <span ng-bind-html="opt.displayName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row small-vertical-spacing">
                <div class="col-sm-4">
                    {{'objective'| translate}}
                </div>
                <div class="col-sm-8">
                    <ui-select ng-model="model.selectedDataElementGroupSet" 
                               theme="select2"                                 
                               style="width:100%;">
                        <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.ndpDataElementGroupSets && model.ndpDataElementGroupSets.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                        <ui-select-choices group-by="'domain'" repeat="degs in model.ndpDataElementGroupSets | filter: $select.search | filter: {ndp: model.selectedNDP.code} : true | limitTo:maxOptionSize | orderBy: ['domainOrder', 'displayName']">
                            <span ng-bind-html="degs.displayName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row small-vertical-spacing">
                <div class="col-sm-4">
                    {{'kra'| translate}}
                </div>
                <div class="col-sm-8">
                    <ui-select ng-model="model.selectedDataElementGroup" 
                               theme="select2"
                               style="width:100%;">
                        <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{model.selectedDataElementGroupSet && model.selectedDataElementGroupSet.dataElementGroups && model.selectedDataElementGroupSet.dataElementGroups.length > 0 ? 'select_or_search' : 'empty'| translate}}">{{$select.selected.displayName|| $select.selected}}</ui-select-match>
                        <ui-select-choices repeat="deg in model.selectedDataElementGroupSet.dataElementGroups | filter: $select.search | limitTo:maxOptionSize | orderBy: ['domainOrder', 'displayName']">
                            <span ng-bind-html="deg.displayName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row bottomright">
                <div class="col-sm-12">
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="getAnalyticsData()">
                        {{'display_report'| translate}}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-5 blue-info-area add-small-left-padding">
            <div class="row small-vertical-spacing">
                <div class="col-sm-2">
                    {{'fiscal_year'| translate}}                        
                </div>
                <div class="col-sm-10">
                    <div class="col-sm-12">
                        <d2-multi-select 
                            ng-model="model.selectedPeriods" 
                            available="model.periods" 
                            available-label="{{'available_periods'| translate}}" 
                            selected-label="{{'selected_periods'| translate}}"                     
                            display-attr="displayName">
                        </d2-multi-select>
                    </div>
                    <div class="small-vertical-spacing">
                        <div class="col-sm-6">
                            <div class="pull-left">                                    
                                <button type="button" 
                                        class="btn btn-default" 
                                        ng-click="getPeriods('PRV')" 
                                        title="{{'previous_periods'| translate}}">
                                    <i class="fa fa-backward"></i>
                                </button>

                                <button type="button" 
                                        class="btn btn-default" 
                                        ng-disabled="periodOffset > -1" 
                                        ng-click="getPeriods('NXT')" 
                                        title="{{'next_periods'| translate}}">
                                    <i class="fa fa-forward"></i>
                                </button>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="model.reportReady">
    <div class="col-sm-12" ng-if="model.dataExists">
        <span class="long-horizontal-spacing hideInPrint">
            <span class="dropdown">
                <label class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-attr-title="{{'download_as'| translate}}"><i class="fa fa-download"></i></label>
                <ul class="dropdown-menu">
                    <li><h6 class="dropdown-header">{{'download_as'| translate}}</h6></li>
                    <li class="divider"></li>
                    <li><a href ng-click="exportData()">{{'csv'| translate}}</a></li>
                    <li><a href onclick="javascript:window.print()">{{'pdf'| translate}}</a></li>
                </ul>
            </span>
        </span>
        <div id="exportTable">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th colspan="{{model.dataHeaders.length + 3}}">
                            {{model.selectedNDP.displayName}}
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="center" colspan="period.colSpan" ng-repeat="period in model.selectedPeriods" ng-if="period.hasData">
                            {{period.displayName}}
                        </th>
                    </tr>
                    <tr>
                        <th>{{'category' | translate}}</th>
                        <th>{{'kra' | translate}}</th>
                        <th>{{'indicator' | translate}}</th>
                        <th class="center" ng-repeat="header in model.dataHeaders">
                            {{model.metaData.items[header.dimensionId].name}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in model.finalData">
                        <td class="vertical-center" ng-repeat="col in row" rowspan="{{col.span}}">
                            {{col.val}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-12" ng-if="!model.dataExists">
        <div class="alert alert-warning">
            {{'no_data_exists' | translate}}
        </div>
    </div>
</div>