<tabset justified="true">
    <tab>
        <tab-heading ng-click="resetView()">
            <span class="horizontal-menu font-16">
                {{'ndp_status'| translate}}
            </span>
        </tab-heading>
        <div ng-include="'components/home/ndp-status.html'"></div>
    </tab>
    <tab>
        <tab-heading ng-click="resetView()">
            <span class="horizontal-menu font-16">
                {{'programme_performance'| translate}}
            </span>
        </tab-heading>
        <div ng-include="'components/home/program-performance.html'"></div>
    </tab>
    <tab>
        <tab-heading ng-click="resetView()">
            <span class="horizontal-menu font-16">
                {{'project_status'| translate}}
            </span>
        </tab-heading>
        <div ng-include="'components/home/project-status.html'"></div>
    </tab>
    <tab>
        <tab-heading ng-click="resetView()">
            <span class="horizontal-menu font-16">
                {{'sector_performance'| translate}}
            </span>
        </tab-heading>
        <div ng-include="'components/home/sector-performance.html'"></div>
    </tab>
    <tab>
        <tab-heading ng-click="resetView()">
            <span class="horizontal-menu font-16">
                {{'vote_performance'| translate}}
            </span>
        </tab-heading>
        <div ng-include="'components/home/vote-performance.html'"></div>
    </tab>
    <tab>
        <tab-heading ng-click="resetView()">
            <span class="horizontal-menu font-16">
                {{'sub_national_data'| translate}}
            </span>
        </tab-heading>
        <div ng-include="'components/home/sub-national-data.html'"></div>
    </tab>
    <tab>
        <tab-heading ng-click="resetView()">
            <span class="horizontal-menu font-16">
                {{'sdg_status'| translate}}
            </span>
        </tab-heading>
        <div ng-include="'components/home/sdg-status.html'"></div>
    </tab>
</tabset>