<!--<div class="small-vertical-spacing hideInPrint">
    <div class="selection-group">        
        <div class="col-sm-5 blue-info-area">
            <div class="row small-vertical-spacing">
                <div class="col-sm-2">
                    {{'vote'| translate}}                        
                </div>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" 
                               name="foo" 
                               class="form-control cursor-pointer" 
                               placeholder="{{'please_select'| translate}}" 
                               title="{{'select_from_tree'| translate}}"
                               ng-model="selectedOrgUnit.displayName" 
                               ng-readonly="{{true}}" 
                               ng-required="true" 
                               ng-click="showOrgUnitTree()">
                        <span class="input-group-btn">        
                            <button class="btn btn-default" type="button" title="{{'select_from_tree'| translate}}" ng-disabled="d2Disabled" ng-click="showOrgUnitTree(d2Object)"> 
                                <i class="fa fa-plus-square-o"></i> 
                            </button> 
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="row vertical-spacing">
    <div class="col-sm-12" ng-if="model.projects.length > 0">
        <span class="long-horizontal-spacing hideInPrint">
            <span class="dropdown">
                <label class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-attr-title="{{'download_as'| translate}}"><i class="fa fa-download"></i></label>
                <ul class="dropdown-menu">
                    <li><h6 class="dropdown-header">{{'download_as'| translate}}</h6></li>
                    <li class="divider"></li>
                    <li><a href ng-click="exportData(model.selectedProgram.displayName )">{{'csv'| translate}}</a></li>
                    <li><a href onclick="javascript:window.print()">{{'pdf'| translate}}</a></li>
                </ul>
            </span>
        </span>
        <div id="exportTable">
            <table class="listTable dhis2-table-striped-border dhis2-table-hover">
                <thead>                    
                    <tr>
                        <th ng-repeat="att in model.selectedProgram.programTrackedEntityAttributes | filter: {displayInList: true}"> 
                            {{att.trackedEntityAttribute.displayName}}
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="project in model.projects" ng-click="getProjectDetails(project)">
                    <tr>
                        <td class="vertical-center" ng-repeat="att in model.selectedProgram.programTrackedEntityAttributes | filter: {displayInList: true}">
                            <span ng-switch="att.valueType">
                                <span ng-switch-when="BOOLEAN">
                                    <span ng-if="project[att.trackedEntityAttribute.id] === 'true'">{{'yes'| translate}}</span>
                                    <span ng-if="project[att.trackedEntityAttribute.id] === 'false'">{{ 'no' | translate}}</span>
                                </span>
                                <span ng-switch-when="TRUE_ONLY">
                                    <span ng-if="project[att.trackedEntityAttribute.id] === 'true'"><i class="fa fa-check"></i></span>
                                </span>
                                <span ng-switch-when="ORGANISATION_UNIT">
                                    {{trackedEntity[gridColumn.id] && orgUnitNames[trackedEntity[gridColumn.id]] ? orgUnitNames[trackedEntity[gridColumn.id]] : trackedEntity[gridColumn.id]}}
                                </span>
                                <span ng-switch-default>{{project[att.trackedEntityAttribute.id]}}</span>
                            </span>
                        </td>
                    </tr>
                    <tr class="project-details" ng-if="model.showProjectDetails && model.selectedProject.trackedEntityInstance === project.trackedEntityInstance ">
                        <td colspan="100%">
                            <table class="table table-responsive green-background">
                                <tr>
                                    <td colspan="100%">
                                        <span class="bold">{{'details' | translate}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-1" ng-repeat="att in model.selectedProgram.programTrackedEntityAttributes">
                                        <span class="bold">{{att.trackedEntityAttribute.displayName}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="vertical-center" ng-repeat="att in model.selectedProgram.programTrackedEntityAttributes">
                                        <span ng-switch="att.valueType">
                                            <span ng-switch-when="BOOLEAN">
                                                <span ng-if="project[att.trackedEntityAttribute.id] === 'true'">{{'yes'| translate}}</span>
                                                <span ng-if="project[att.trackedEntityAttribute.id] === 'false'">{{ 'no' | translate}}</span>
                                            </span>
                                            <span ng-switch-when="TRUE_ONLY">
                                                <span ng-if="project[att.trackedEntityAttribute.id] === 'true'"><i class="fa fa-check"></i></span>
                                            </span>
                                            <span ng-switch-when="ORGANISATION_UNIT">
                                                {{trackedEntity[gridColumn.id] && orgUnitNames[trackedEntity[gridColumn.id]] ? orgUnitNames[trackedEntity[gridColumn.id]] : trackedEntity[gridColumn.id]}}
                                            </span>
                                            <span ng-switch-default>{{project[att.trackedEntityAttribute.id]}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                            <div ng-repeat="enrollment in model.selectedProject.enrollments">
                                <table class="table table-responsive yellow-background">
                                    <tr>
                                        <th class="col-sm-1">{{model.selectedProgram.enrollmentDateLabel}}</th>
                                        <th class="col-sm-1">{{'vote' | translate}}</th>
                                        <th class="col-sm-1">{{'remark' | translate}}</th>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-1">{{enrollment.enrollmentDate}}</td>
                                        <td class="col-sm-1">{{enrollment.orgUnitName}}</td>
                                        <td class="col-sm-1">
                                            <span ng-repeat="note in enrollment.notes">
                                                {{note.value}}<br>
                                            </span>
                                        </td>
                                    </tr>
                                </table>

                                <div ng-if="model.selectedProgram.programStages.length > 0">
                                    <h5 class="bold">{{'milestones' | translate}}</h5>
                                    <div class="milestone-info-area" 
                                         ng-repeat="stage in model.selectedProgram.programStages"
                                         ng-init="events = (enrollment.events | filter: {programStage: stage.id})">
                                        <span class="bold">{{stage.displayName}}</span>
                                        <table class="table table-responsive yellow-background">
                                            <tbody ng-if="events.length > 0">
                                                <tr>
                                                    <th class="col-sm-1">
                                                        {{stage.executionDateLabel ? stage.executionDateLabel : 'start_date' | translate}}
                                                    </th>
                                                    <th class="col-sm-1" ng-repeat="pstDe in stage.programStageDataElements">
                                                        {{pstDe.dataElement.displayName}}
                                                    </th>
                                                    <th class="col-sm-1">
                                                        {{'remark' | translate}}
                                                    </th>
                                                </tr>
                                                <tr ng-repeat="ev in events">
                                                    <td class="col-sm-1">
                                                       {{ev.eventDate}}
                                                    </td>
                                                    <td class="col-sm-1" ng-repeat="pstDe in stage.programStageDataElements">
                                                        {{ev[pstDe.dataElement.id]}}
                                                    </td>
                                                    <td class="col-sm-1">
                                                        <span ng-repeat="note in ev.notes">
                                                            {{note.value}}<br>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody ng-if="events.length === 0">
                                                <tr>
                                                    <td colspan="100%">
                                                        {{'milestone_has_no_information' | translate}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-12" ng-if="model.projects.length === 0">
        <div class="alert alert-warning">
            {{'no_projects_available' | translate}}
        </div>
    </div>
</div>